.account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #0d06ff; // Fond similaire au style de login
  color: #ffffff;

  p {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .group-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(30, 26, 224, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        font-size: 1rem;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 5px;
        margin-bottom: 5px;
      }
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(30, 26, 224, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      background-color: #1e1ae0;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
      transition: all 0.3s ease;

      &:hover {
        background-color: rgba(30, 26, 222, 0.6);
      }
    }
  }
}

/* Responsive styles */
@media (max-width: 600px) {
  .account-page {
    padding: 10px;
  }

  .group-info,
  .form-container {
    padding: 15px;
    max-width: 90%;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }
}