.film-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Toujours 2 colonnes
  gap: 20px; // Espacement entre les boîtes
  padding: 20px;
  justify-items: center;
}

.FilmBox {
  background-color: rgba(46, 46, 195, 0.49);
  border: none; // Suppression des bordures
  border-radius: 8px;
  overflow: hidden; // Assure que l'image ne dépasse pas les limites
  width: 100%; // Prend toute la largeur disponible
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  img {
    width: 100%;
    height: auto; // Laisse l'image s'adapter à la largeur
    object-fit: cover; // Affiche l'image entière
  }

  h2 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #fff;
  }

  p {
    font-size: 1rem;
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7); // Fond noir avec transparence
    color: white; // Texte blanc pour contraste
    border-radius: 4px;
    text-align: justify;
    overflow-y: auto; // Permet le scroll si le texte dépasse
    max-height: 100px; // Limite la hauteur maximale pour le texte
  }
}

/* Media query pour les grands écrans */
@media (min-width: 800px) {
  .film-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); // Plus de colonnes sur grand écran
  }
}

/* Media query pour les petits écrans */
@media (max-width: 600px) {
  .film-container {
    grid-template-columns: repeat(2, 1fr); // Toujours 2 colonnes sur petits écrans
  }
}
